@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Yantramanav:wght@300&display=swap');

:root {
    --primary-color: #ECEBE4;
    --secondary-color: #153B50;
    --accent1-color: #CC998D;
    --accent2-color: #429EA6;

    --heading-font: 'Confortaa', serif;
    --paragraph-font: 'Yantramanav' serif;

    --nav-background-color: #153B50;
    --nav-link-color: #ECEBE4;
    --nav-hover-link-color: #429EA6;
    --nav-hover-background-color: #CC998D;
}

body {
    max-width: 960px;
}

h1, h2, h3 {
    font-family: var(--heading-font), serif;
    color: var(--primary-color);
}

p {
    font-family: var(--paragraph-font), serif;
    color: var(--secondary-color);
}

a img {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.hero article > img{
    width: 20%;
    height: auto;
    float: right;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 10px;
    left: 420px;
}

.hero article {
    position: absolute;
    top: 300px;
    left: 10px;
    background-color: rgb(138,43,226, 0.8);
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-content: center;
    background-color: #87CEFA;
}

header img {
    display: block;
    justify-self: center
}

nav {
    display: flex;  
    align-items: center; 
    justify-content: space-evenly;
    background-color: var(--nav-background-color);
}

nav a {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px 2fr;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    border: 2px solid black;
    padding: 10px;
}

.history h2 {
    grid-column: 1/4
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px 1fr;
}

.adventure h2 {
    grid-column: 1/6;
    justify-self: center;
}

footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

footer nav a img {
    height: 40px;
    width: auto;
}

footer p {
    justify-self: center;
}